.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

html, body 
{  
	height: 100%;
	width: 100%;
}

.bodymain
{
	background: #F2F2F2;
	height: 100%;
	width: 100%;
	text-align: center;
	position: relative;
}

#topimgsection
{
	height: 55%;
	width: 100%;
	text-align: center;
	background-color: #E04A50;
	overflow: hidden;
}

#bg
{
	opacity: 0.1;
  position: relative;
  top: -200px;
}

#topimgsection h1
{
  font-family: 'Lato', sans-serif;
  font-size: 25pt;
  color: #cccccc;
  padding-bottom: 5px;
}

#topimgsection h2
{
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  color: #cccccc;
}

.circle
{
  height: 150px;
  width: 150px;
  background-color: #ebebeb;
  border-color: #999999;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  float: left;
  margin: 0 2em;
}

#topimgsectiontext
{
  top: 35%;
  position: relative;
  z-index: 2;
}

#arrow
{
  position: relative;
  width: 80px;
  height: 41px;
  bottom: 2%;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
}

section h1
{
  font-family: 'Lato', sans-serif;
  font-size: 18pt;
  color: black;
}

section h2
{
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  color: black;
}

#circlecontainer 
{
  display: inline-block;
}

#dollariconcontainer
{
  position: relative;
  background-image: url("../img/dollar_inactive.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60px;
  width: 100px;
  display: inline-block;
}

#dollariconcontainer:hover{
  background-image: url("../img/dollar_active.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60px;
  width: 100px;
  display: inline-block;
  cursor: pointer;
}

#dollariconcontainer h2
{
  padding-top: 10px;
}

#dropiconcontainer
{
  position: relative;
  background-image: url("../img/drop_inactive.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60px;
  width: 100px;
  display: inline-block;
}

#dropiconcontainer:hover
{
  position: relative;
  background-image: url("../img/drop_active.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60px;
  width: 100px;
  display: inline-block;
  cursor: pointer;
}

#hearticoncontainer
{
  position: relative;
  background-image: url("../img/heart_inactive.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60px;
  width: 100px;
  display: inline-block;
}

#hearticoncontainer:hover
{
  position: relative;
  background-image: url("../img/heart_active.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60px;
  width: 100px;
  display: inline-block;
  cursor: pointer;
}

.center
{
  position: relative;
  top: 55%;
  transform: translateY(-50%);
}

*, *:before, *:after 
{
  box-sizing: inherit;
}

ul {
  padding: 0;
}

li 
{
  list-style-type: none;
  margin-bottom: 5px;
}

input, button 
{
  height: 40px;
}

input 
{
  padding: 0 10px;
  width: 300px;
}

h2 
{
  color: black;
  display: block;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

nav p 
{
  display: inline-block;
  font-style: italic;
  margin: 0 0 0 10px;
}

/* Footer */

footer 
{
  height: 30px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin-top: 20px;
  padding: 0 20px;
  background-color: #333333;
  color: #cccccc;
}

footer p 
{
  font-size: 12px;
  line-height: 30px;
  margin: 0;
}
